body{
  background-color: gray;
  padding:10px;
  color:white;
}
a{
  text-decoration: none;
  color:white;
  font-weight: bold;

}

#header{
  display:block;
  width:90%;
  height:22px;
  margin:0 auto;
  text-align: right;
  border:3px solid white;
  padding-top: 3px;
}
#header a{
  padding-right: 5px;

}


/*messages.ejs*/
#messageList{
  text-transform: capitalize;
  list-style-type: none;
  margin:50px;
}
#messageList li{
  margin: 20px 0px;
}

#message{
  height:500px;
  text-overflow: scroll;
  background-color:lightgray;
  padding:20px;
}
#deleteButton{
  display:inline-block;
  margin-top: 50px;
  color:red;
  font-weight: bold;
  border: 3px solid red;
  padding:5px;
}
input[type= "submit"]{
  display:block;
}
