<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Messages</title>
</head>
<body>
  <ul>
    <% for(var i= 0;i<messages.length;i++ ){ %>
        <li><a href="/messages/<%=messages[i].id%>"><%= messages[i].title %> </a></li>
    <% } %>
  </ul>

  <h2>Write a Message</h2>
  <form action="/messages" method="post">
    <input type="text" name="title" value="Add Title">
    <br>
    <br>
    <textarea name="body" rows="8" cols="80"></textarea>

  </form>


</body>
</html>
